apiVersion: v1
kind: Service
metadata:
  name: vtuber-calendar-api
  labels:
    app.kubernetes.io/name: vtuber-calendar-api
spec:
  selector:
    app: vtuber-calendar-api
  ports:
    - port: 8080
      name: http
      targetPort: 8080
      protocol: TCP
  type: ClusterIP