apiVersion: v1
kind: Service
metadata:
  name: vtuber-calendar-web
  labels:
    app.kubernetes.io/name: vtuber-calendar-web
spec:
  selector:
    app: vtuber-calendar-web
  ports:
    - port: 80
      name: http
      targetPort: 80
      protocol: TCP
  type: ClusterIP